* {
  box-sizing: border-box;
}

h1 {
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  font-family: Calibri, Arial;
} 
h3 {
  font-size: larger; margin:0
  font-weight: bold;
  text-align: center;
  font-family: Calibri, Arial;
} 

p {
  background-color: #ff7f50
  font-family: Arial, Helvetica;
  font-weight: bold;
  padding-top: 20px;
  padding-left: 15px;
  padding-bottom: 15px;
  margin: 45px;
  word-spacing: 2px;

}
#Chicken {
  color:#0487fa;
}
