/********** Base styles **********/
* {
  box-sizing: border-box;
}

h1 {
  font-size: 56px;
  font-weight: bold;
  text-align: center;
  font-family: Calibri, Arial;
} 
p {
  background-color: #aaa;
  font-family: Arial, Helvetica;
  font-weight: bold;
  border:1px solid black;
  padding-top:56px;
  padding-left: 15px;
  padding-bottom: 15px;
  margin: 16px 0px 5px 18px;
  word-spacing: 2px;

}
.col {
  float: left;
  width: 33.33%;
  padding: 20px;
  height: 200px; 
}

#Chicken, #Beef, #Sushi {
  float: right;
  width: 33.33%;
  padding:8px;
 font-family: Calibri;
 font-size: 125%;
  font-weight: bold;
  border: 1px solid black;
  text-align: center;
}
#Chicken {
  background-color: #fce607;
  color:#0487fa;
}

#Beef {
  background-color: #e5b53d; //tan
 }

#Sushi {
  background-color: #af0e31;
  color: white;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (max-width: 992px){
  .col {
    width: 100%;
  }
  @media (min-width: 768px) and (max-width: 991px) {
  .col, .col2{
    width: 50%;
  }
  .col3{
    width: 100%;
  }
  }
}
@media screen and (max-width: 768px) {
  .col {
    width: 100%;
  }
}
}